include LICENSE
include README.md
include src/napari_trackastra/resources/trackastra_logo_small.png
include src/napari_trackastra/resources/icon.png

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
